---
---

@import "{{site.theme}}";

a {
    color: #157bae;
}
.skip-link {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.skip-link:focus {
    position:static;
    width:auto;
    height:auto;
    color: #FFFF8D;
}
body {
    background: #FFF8E1;
}

header {
    background: #01579B;
}

#banner {
    background: #BBDEFB;
}

section {
    width: 750px;
    background: 
}
