---
---

@import "{{site.theme}}";

a {
    color: #086ea1;
}

nav {
    overflow: auto;
}

section a:link {
    color: #086ea1;
    text-decoration: underline;
}

header p {
    margin: 0px 20px 0px 20px;
}

footer{
    text-align: center;
    margin: 20px auto;
    position: relative;
    left:auto;
    bottom:auto;
    width:auto;
}

th {
    text-align: left;
    background-color: #E3F2FD;
    vertical-align: top;
}

td, td:first-child {
    vertical-align: top;
    border-left: 1px solid #7ea1be;
    border-right: 0px;
}

.skip-link {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.skip-link:focus {
    position:static;
    width:auto;
    height:auto;
    color: #FFFF8D;
}
body {
    background: #e7e7e7;
}

header {
    background: #01579B;
}

#banner {
    background: #BBDEFB;
    border: #7ea1be;
    margin-right:-500px;
}

section {
    width: 750px;
}

section a {
    color: #157bae;
}

#banner .button {
    background-color: #9abdda;
    border: 1px #7ea1be;
}

#banner .button:hover, #banner .button:focus {
    background-color: #E1F5FE;
    border: 1px #7ea1be;
}

@media print, screen and (max-width: 1110px) {

  div.wrapper {
    width:auto;
    margin:0;
  }

  nav{
    display: none;
  }

  header, section, footer {
    float:none;

    h1 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      -ms-text-overflow: ellipsis;
    }
  }

  #banner {
    width: 100%;

    .downloads {
        margin-right: 60px;
      }

    .fork {
    }

    #logo {
      margin-right: 15px;
    }
  }

  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px auto;
    margin: 190px auto 20px;
    max-width: 600px;
  }

  footer{
    text-align: center;
    margin: 20px auto;
    position: relative;
    left:auto;
    bottom:auto;
    width:auto;
    }
}
