---
---

@import "{{site.theme}}";

a {
    color: #086ea1;
}

section a:link {
    color: #086ea1;
    text-decoration: underline;
}

.skip-link {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.skip-link:focus {
    position:static;
    width:auto;
    height:auto;
    color: #FFFF8D;
}
body {
    background: #e7e7e7;
}

header {
    background: #01579B;
}

#banner {
    background: #BBDEFB;
    border: #7ea1be;
    margin-right:-282px;
}

section {
    width: 750px;
}

section a {
    color: #157bae;
}

#banner .button {
    background-color: #9abdda;
    border: 1px #7ea1be;
}

#banner .button:hover, #banner .button:focus {
    background-color: #E1F5FE;
    border: 1px #7ea1be;
}

